{% extends 'table/base.html' %}

{% block title %}
Table
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html>

<head>
  <title>Data Grid</title>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
</head>

<body>

  <style>
    #data-table {
      height: 500px;
      width: 100%;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
    }
  </style>

  <h1>Table Contents</h1>

  <body>
    <div id="data-table" class="ag-theme-balham">
    </div>

    <script type="text/javascript" charset="utf-8">

      const columnDefs = [
        { field: 'date' },
        { field: 'name' },
        { field: 'amount' },
        { field: 'distance' },
      ];

      const gridOptions = {
        defaultColDef: {
          sortable: true,
          filter: 'agTextColumnFilter',
          resizable: true
        },

        pagination: true,

        columnDefs: columnDefs,
        onGridReady: (event) => { renderDataInTheTable(event.api) }
      };

      const eGridDiv = document.getElementById('data-table');
      new agGrid.Grid(eGridDiv, gridOptions);

      function renderDataInTheTable(api) {
        fetch('./db.json')
          .then(function (response) {
            return response.json();
          }).then(function (data) {
            api.setRowData(data);
            api.sizeColumnsToFit();
          })
      }
    </script>
  </body>
  {% endblock %}


